apiVersion: v1
kind: Service
metadata:
  name: kafka
spec:
  selector:
    app: kafka
  ports:
  - port: 29092  # Internal listener port
    name: internal
  - port: 9092   # External listener port (optional)
    name: external
