

version: '2.1'

networks:
  mynetwork:
    driver: bridge

services:
    auth:
      # image: 024238576932.dkr.ecr.eu-north-1.amazonaws.com/auth:latest
      # ports:
      #   - '3001:3001'
      # env_file:
      #   - ./apps/auth/.env
      build:
        context: .
        dockerfile: ./apps/auth/Dockerfile
        target: development
      command: npm run start:dev auth
      ports:
        - '3001:3001'
      env_file:
        - ./apps/auth/.env
      depends_on:
      - kafka
      - redis
      networks:
        - mynetwork
  #     depends_on:
  #       - mongodb-primary
  #       - mongodb-secondary
  #       - mongodb-arbiter
      volumes:
        - .:/usr/src/app
        # - /usr/src/app/node_modules


    # cloud-gateway:
    #   build:
    #     context: .
    #     dockerfile: ./apps/cloud-gateway/Dockerfile
    #     target: development
    #   command: npm run start:dev cloud-gateway
    #   ports:
    #     - '3000:3000'
    #   env_file:
    #     - ./apps/cloud-gateway/.env
      # depends_on:
      #   - mongodb-primary
      #   - mongodb-secondary
      #   - mongodb-arbiter
      # volumes:
      #   - .:/usr/src/app
        # - /usr/src/app/node_modules

  #   mongodb-primary:
  #     image: docker.io/bitnami/mongodb:7.0
  #     environment:
  #       - MONGODB_ADVERTISED_HOSTNAME=mongodb-primary
  #       - MONGODB_REPLICA_SET_MODE=primary
  #       - MONGODB_ROOT_PASSWORD=password123
  #       - MONGODB_REPLICA_SET_KEY=replicasetkey123
  #     volumes:
  #       - 'mongodb_master_data:/bitnami/mongodb'
  #     ports:
  #       - '27017:27017'

  #   mongodb-secondary:
  #     image: docker.io/bitnami/mongodb:7.0
  #     depends_on:
  #       - mongodb-primary
  #     environment:
  #       - MONGODB_ADVERTISED_HOSTNAME=mongodb-secondary
  #       - MONGODB_REPLICA_SET_MODE=secondary
  #       - MONGODB_INITIAL_PRIMARY_HOST=mongodb-primary
  #       - MONGODB_INITIAL_PRIMARY_ROOT_PASSWORD=password123
  #       - MONGODB_REPLICA_SET_KEY=replicasetkey123

  #   mongodb-arbiter:
  #     image: docker.io/bitnami/mongodb:7.0
  #     depends_on:
  #       - mongodb-primary
  #     environment:
  #       - MONGODB_ADVERTISED_HOSTNAME=mongodb-arbiter
  #       - MONGODB_REPLICA_SET_MODE=arbiter
  #       - MONGODB_INITIAL_PRIMARY_HOST=mongodb-primary
  #       - MONGODB_INITIAL_PRIMARY_ROOT_PASSWORD=password123
  #       - MONGODB_REPLICA_SET_KEY=replicasetkey123

  # volumes:
  #   mongodb_master_data:
  #     driver: local

    # redis:
    #   image: redis
    #   env_file:
    #     - .env
    #   ports:  
    #     - "6379:6379"
    #   networks:
    #     - mynetwork
      # volumes: -./redis/data:/data
    

    kafdrop:
      image: obsidiandynamics/kafdrop
      restart: unless-stopped
      ports:
        - "9000:9000"
      environment:
        KAFKA_BROKERCONNECT: "kafka:29092"
        JVM_OPTS: "-Xms16M -Xmx48M -Xss180K -XX:-TieredCompilation -XX:+UseStringDeduplication -noverify"
      depends_on:
        - "kafka"
      networks:
        - mynetwork

    kafka:
      image: obsidiandynamics/kafka
      restart: unless-stopped
      ports:
        - "2181:2181"
        - "9092:9092"
      environment:
        KAFKA_LISTENERS: "INTERNAL://:29092,EXTERNAL://:9092"
        KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka:29092,EXTERNAL://kafka:9092"
        KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT"
        KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"
        KAFKA_ZOOKEEPER_SESSION_TIMEOUT: "6000"
        KAFKA_RESTART_ATTEMPTS: "10"
        KAFKA_RESTART_DELAY: "5"
        ZOOKEEPER_AUTOPURGE_PURGE_INTERVAL: "0"
      networks:
        - mynetwork




    # kafdrop:
    #   image: obsidiandynamics/kafdrop
    #   restart: "no"
    #   ports:
    #     - "9000:9000"
    #   environment:
    #     KAFKA_BROKERCONNECT: "kafka:29092"
    #     JVM_OPTS: "-Xms16M -Xmx48M -Xss180K -XX:-TieredCompilation -XX:+UseStringDeduplication -noverify"
    #   depends_on:
    #     - "kafka"

    # kafka:
    #   image: obsidiandynamics/kafka
    #   restart: "no"
    #   ports:
    #     - "2181:2181"
    #     - "9092:9092"
    #   environment:
    #     KAFKA_LISTENERS: "INTERNAL://:29092,EXTERNAL://:9092"
    #     KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka:29092,EXTERNAL://localhost:9092"
    #     KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT"
    #     KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"
    #     KAFKA_ZOOKEEPER_SESSION_TIMEOUT: "6000"
    #     KAFKA_RESTART_ATTEMPTS: "10"
    #     KAFKA_RESTART_DELAY: "5"
    #     ZOOKEEPER_AUTOPURGE_PURGE_INTERVAL: "0"
